/*全局样式*/
*{
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
html{
	width:100%;height:100%;
}
body{
	width:100%;height:100%;
}
/*字体*/
@font-face{
	font-family: myfont;
	src: url(../font/NotoSansHans-DemiLight.otf);
}
/**/
.login_bg{
	background: url('../images/bg.jpg') no-repeat;background-size:100% 100%;width: 100%;height: 90%;
}
.login_box{
	width: 467px;height: 440px;position: absolute;top: 30%;right: 15%;
}
.p1{
	color: #FFFFFF;font-size: 24px;text-align: center;
}
.login_logo{
	position:absolute;right: 8%;top: 5%;
}
/*提示信息*/
#info{
	position: absolute;top: 44px;left: 73px;color: #4d9ec2;font-size: 15px;
}
/*登录框*/
.login_fun{
	width: 465px;height: 370px;margin-top: 32px;background: #333b46;border-radius: 5px;border: 1px solid #4e5661;position: relative;
}
/*用户和输入密码*/
.username{
	width: 269px;margin: 0 auto;height: 29px;font-size: 14px;padding: 9px 0px 9px 5px;background: #FFFFFF !important;float: left;border: none;outline: none;border-radius:0 5px 5px 0 ; 
}
.user_bg{
	background: #FFFFFF;width: 46px;height: 47px;display: block;float: left;border: none; border-radius:5px 0 0 5px ; position: relative;
}
.user_bg i{
	background: url('../images/user.png');width: 46px;height: 47px;display: block;
}
.login1:after{
	display: block;clear: both;content: '';
}
.login1{
	width: 320px;margin: 0 auto;margin-top: 86px;
}
.user_bg p{
	position: absolute;border-right:1px solid #999999;width: 0;height: 24px;right:0;top: 11px;
}

.password{
	width: 269px;margin: 0 auto;height: 29px;font-size: 14px;padding: 9px 0px 9px 5px;background: #FFFFFF !important;float: left;border: none;outline: none;border-radius:0 5px 5px 0 ; 
}
.pas_bg{
	background: #FFFFFF;width: 46px;height: 47px;display: block;float: left;border: none; border-radius:5px 0 0 5px ; position: relative;
}
.pas_bg i{
	background: url('../images/password.png');width: 46px;height: 47px;display: block;
}
.login2:after{
	display: block;clear: both;content: '';
}
.login2{
	width: 320px;margin: 0 auto;margin-top: 16px;
}
.pas_bg>p{
	position: absolute;border-right:1px solid #999999;width: 0;height: 24px;right:0;top: 11px;
}

/*复选框*/
.remeber>p{
	float: left;color: #FFFFFF;font-size: 13px;
}
#che1{
	display: none;
}
#che1 + label{
	width: 18px; height: 18px;display: inline-block;text-align: center;line-height: 20px;background: #FFFFFF;
	vertical-align: middle;float: left;border-radius: 3px;margin-right: 8px;
}
#che1:checked + label:after{
    content:"\2714";color: #04a1e9;
}

#che2{
	display: none;
}
#che2 + label{
	width: 18px; height: 18px;display: inline-block;text-align: center;line-height: 20px;background: #FFFFFF;
	vertical-align: middle;float: left;border-radius: 3px;margin-left: 49px;margin-right: 8px;
}
.remeber:after{
	display: block;clear: both;content: '';
}
.remeber{
	width: 320px;margin: 0 auto;margin-top: 16px;
}
#che2:checked + label:after{
    content:"\2714";color: #04a1e9;
}
.remeber a{
	color: #FFFFFF;font-size: 13px;float: right;
}
.remeber a:hover{
	color: #59ceff;
}
/*登录按钮*/
.btn_box{
	text-align: center;margin-top: 14px;
}
.login_btncs{
	width: 320px;height: 44px;border: none;outline: none;color: #FFFFFF;background: linear-gradient(#2ec0fb, #0e9aee,#0091ea);
	margin: 0 auto;border-radius: 5px;font-size: 18px;
}
/*跳转注册*/
.lot{
	width: 320px;margin: 0 auto;margin-top:26px;
}
.lot a{
	color: #FFFFFF;font-size: 13px;float: right;
}
.lot a span{
	font-size: 16px !important;
}
.lot a:hover{
	font-weight: bold;
}
.lot a:hover span{
	color: #59ceff;
}
/*底部*/
.footer{
	width: 100%;height: calc(10% - 15px);;background: #000000;text-align: center;padding-top: 15px;
}
.footer span img{
	width: 250px;
}
.footer p{
	color: #666666;font-size: 11px;
}