<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">



	<!-- 配置mybatis过程 -->
	<!-- 配置数据库相关参数 -->
	<context:property-placeholder location="classpath:mybatis/jdbc.properties" />
	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 链接池参数 -->
		<property name="driverClass" value="${driver}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="user" value="${name}" />
		<property name="password" value="${password}" />
		<!-- 连接池私有属性 -->
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<!-- -->
		<property name="autoCommitOnClose" value="false" />
		<!-- 链接等待时间 -->
		<property name="checkoutTimeout" value="1000" />
		<!-- 当获取链接失败时重试次数 -->
		<property name="acquireRetryAttempts" value="2" />
	</bean>
	<!-- 配置sqlsessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 注入mybatis全局配置文件 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<!-- 扫描dto包 -->
		<property name="typeAliasesPackage" value="org.zixing.dto" />
		<!-- 扫描sql配置文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<!-- 配置扫描DAO接口包 -->
	<!-- 注入sqlSessionFactory属性 -->
	<!-- 给出扫描dao接口包 -->

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		
		<property name="basePackage" value="org.zixing.dao" />
	</bean>
	
	<!-- 配置普通类可访问注入类的工具类 -->
	<bean class="org.zixing.util.SpringTool"/>
	<bean id="springContextHolder" class="org.zixing.util.SpringContextHolder"  lazy-init="false"/>
</beans>